
table {
    width: 50%;
    border: solid;
    border-color: #08143b;
}

thead {
    background-color: #08143b;
    color: white;
}
#div {
    display: flex;
    justify-content: center;
    text-align:center;
}

.loader{
    margin-top:15%;
}